/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Roboto:wght@400;700;900&display=swap");

/* General resets and settings */
body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  /* Default text color set to white */
  color: #fff;
}

body {
  background-color: #000; /* Background set to black */
  /* Uncomment to add fade-in effect */
  /* opacity: 0; */
  /* transition: opacity 2s ease-in; */
}

/* Uncomment to apply fade-in effect */
/* body.fade-in {
  opacity: 0.2; 
} */

/* General Styles for the Welcome Section */
.welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: auto;
  text-align: center;
  margin: 20px;
}

#welcome-section h1 {
  font-size: 1.5rem; /* Default font size for larger screens */
  margin: 10px 0;
}

/* Toggle Sidebar Button */
#toggleSidebar {
  /* Button background */
  background-color: black;
  /* Button text color */
  color: white;
  /* Removing default button border */
  border: none;
  /* Button padding */
  padding: 10px 20px;
  /* Cursor pointer to indicate clickability */
  cursor: pointer;
  /* Button font size */
  /* font-size: 16px; */
  /* Rounded button */
  border-radius: 25px;
  /* Smooth hover transition */
  transition: background-color 0.3s;
  /* Needed for positioning the hamburger icon */
  position: relative;
}

.hamburger-icon {
  display: none; /* Hidden by default */
  font-size: 2rem; /* Size of the hamburger icon */
}

/* Adjust the font size and layout on smaller screens */
@media (max-width: 768px) {

  .welcome-section {
    padding: 0px;
    /* display: none; */
    margin: 0px;
    justify-content: normal;
    align-items: normal;
  }

  #welcome-section h1 {
    font-size: 1rem; /* Smaller font size for tablet and below */
  }

  #toggleSidebar {
    padding: 10px 10px; /* Smaller padding on smaller screens */
    border-radius: 8px; /* Smaller border-radius for mobile */
  }
}

/* Further adjustments for mobile screens */
@media (max-width: 500px) {
  /* Hide the welcome text on mobile */
  .welcome-texts {
    display: none;
  }

  /* Show the hamburger icon on mobile */
  .hamburger-icon {
    display: block;
  }
  
  #welcome-section h1 {
    font-size: 0.85rem; /* Even smaller for very small screens */
  }

  #toggleSidebar {
    width: 100%; /* Full width button on mobile */
    padding: 8px 16px;
    border-radius: 6px;
  }
}

#toggleSidebar:hover {
  /* Hover background change */
  background-color: darkgrey;
}

/* Sidebar styling */
.sidebar {
  position: fixed;
  /* Initially hidden */
  left: -250px;
  top: 0;
  /* Sidebar height */
  height: 22%;
  /* Dark background */
  background-color: #343a40;
  /* Text color */
  color: #ffffff;
  /* Smooth opening/closing transition */
  transition: left 0.3s ease;
  /* Sidebar padding */
  padding: 40px;
  z-index: 2;
  /* top-left, top-right, bottom-right, bottom-left */
  border-radius: 0px 0px 50px 0px;
}

.sidebar.open {
  /* Reveal sidebar */
  left: 0;
}

.sidebar ul {
  /* Removing default bullet points */
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  /* Space between list items */
  padding: 10px 0;
}

.sidebar ul li a {
  /* Links in sidebar */
  color: #ffffff;
  /* Removing underline */
  text-decoration: none;
}

/* Text styling */
p {
  margin: 0;
  /* Setting line height */
  line-height: 1.5em;
}

a {
  /* Removing underline for links */
  text-decoration: none;
}

li {
  /* Removing list styles globally */
  list-style: none;
}

span {
   /* Font family for spans */
  font-family: "Roboto", sans-serif;
}

/* Container styling */
.container {
  max-width: 1400px;
  width: 100%;
  padding: 15px;
  position: relative;
  margin: auto;
}

/* Section styling */
.section {
  color: #fff;
  margin: 15px 0;
}

@media (min-width: 1024px) {
  .section {
    margin: 20px 0;
  }
}

/* Background image styling */
.bg-img {
  background-image: url(../img/bg.png);
  background-position: center;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  /* Semi-transparent background */
  opacity: 0.2;
  aspect-ratio: 4096/2304;
}

/* Title, subtitle, profession text styles */
.title, .subtitle, .profession {
  font-family: "Lexend Deca", sans-serif;
  font-weight: 900;
}

.title {
  font-size: 1.7rem;
}

.subtitle {
  font-size: 1.5rem;
  margin-top: 10px;
}

.profession {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 30px;
}

@media (min-width: 1024px) {
  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.6rem;
  }

  .profession {
    font-size: 3rem;
  }
}

/* Description styling */
.description {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@media (min-width: 1024px) {
  .description {
    font-size: 1.2rem;
  }
}

/* Hero button */
#hero {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 1px solid #dedede;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background 350ms ease;
}

#hero:hover {
  background: #fff;
}

#hero:hover .fas {
  color: #000;
}

/* Header bar styling */
.header-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-direction: row; */
  background: #000;
}

.header-bar .nome {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.2rem;
  /* position: relative; */
}

.header-bar .social-media {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-bar .social-media .fab, .header-bar .social-media .fas {
  font-size: 1.2rem;
  margin: 0 10px;
  transition: transform 350ms ease;
}


.header-bar .social-media .fab:hover, .header-bar .social-media .fas:hover {
  transform: translateY(5px);
}

/* Navigation menu (Desktop) */
.menu-top .nav-top {
  margin: 0 auto;
  width: 100%;
  padding: 5px 0;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
}

@media (min-width: 1024px) {
  .menu-top .nav-top {
    display: block;
  }
}

.menu-top .nav-top .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 40px;
  margin: 0 auto;
  /* z-index: 2; */
}

.menu-top .nav-top .menu .item {
  margin: 0 10px;
}

.menu-top .nav-top .menu .item a {
  color: #fff;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 900;
  font-size: 1.1rem;
  text-transform: uppercase;
  position: relative;
}

.menu-top .nav-top .menu .item a:after {
  content: "";
  width: 0%;
  background: #fff;
  height: 2px;
  position: absolute;
  bottom: 0px;
  left: 0;
  transition: width 350ms ease;
}

.menu-top .nav-top .menu .item a:hover:after {
  width: 100%;
}

/* Home section */
.menu-top .home {
  margin-top: 40px;
  height: 35vh;
  /* position: relative; */
  /* z-index: 1; */
  /* padding: 0 15px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


@media (min-width: 1024px) {
  .menu-top .home {
    height: 55vh;
  }
}

/* @media (min-width: 1250px) { */
  /* .menu-top .home { */
    /* height: 70vh; */
  /* } */
/* } */

/* Profile photo logo */
.menuphotoLogo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.photoLogo {
  width: 300px;
  /* height: 85; */
  border-radius: 10px;
  padding: 5px;
}

.menu-top .home .img {
  width: 200px;
  height: 200px;
  border: 1px solid #fff;
  border-radius: 50%;
  aspect-ratio: 460/460;
}

@media (min-width: 1024px) {
  .menu-top .home .img {
    width: 250px;
    height: 250px;
  }
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
@media (min-width: 1250px) {
  .menu-top .home .img {
    width: 300px;
    height: 300px;
  }
}

.menu-top .home .img img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .menu-top .home .nome {
    font-size: 3rem;
  }
}
@media (min-width: 1024px) {
  .menu-top .home .nome {
    font-size: 4rem;
  }
}

.menu-top .home .description {
  font-family: "Lexend Deca", sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
}

@media (min-width: 1024px) {
  .menu-top .home .description {
    font-size: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .menu-top .home .social-media .social-item .fab,
  .menu-top .home .social-media .social-item .fas {
    font-size: 2.2rem;
    margin: 0 15px;
  }
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
main {
  position: relative;
  padding: 10px 15px;
  margin: 0 20px 20px;
  z-index: 5;
  border-radius: 10px;
  background: rgba(157, 198, 255, 0.3);
}

@media (min-width: 1024px) {
  main {
    padding: 30px 40px;
    margin: 0 60px 40px;
  }
}

/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
@media (min-width: 1250px) {
  main {
    margin: 0 120px 40px;
  }
}

@media (min-width: 1250px) {
  .about-me p {
    font-size: 1.9rem;
  }
}

@media (min-width: 1024px) {
  .about-me p {
    font-size: 1.5rem;
  }
}
.about-me p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}
.about-me p a {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.experiences {
  font-family: "Lexend Deca", sans-serif;
}
.experiences .exp-item {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}
.experiences .exp-item .enterprise {
  font-weight: 900;
  font-size: 1.2rem;
}

@media (min-width: 1024px) {
  .experiences .exp-item .enterprise {
    font-size: 1.45rem;
  }
}

.experiences .exp-item .duration {
  font-weight: 900;
  font-size: 1rem;
}

@media (min-width: 1024px) {
  .experiences .exp-item .duration {
    font-size: 1.2rem;
  }
}

.experiences .exp-item .position {
  font-weight: 900;
  font-size: 1rem;
}

@media (min-width: 1024px) {
  .experiences .exp-item .position {
    font-size: 1.25rem;
  }
}

.experiences .exp-item .duration,
.experiences .exp-item .position,
.experiences .exp-item .description {
  margin: 2px 0;
  font-size: 1rem;
}

@media (min-width: 1250px) {
  .experiences .exp-item .description {
    font-size: 1.9rem;
  }
}

@media (min-width: 1024px) {
  .experiences .exp-item .description {
    font-size: 1.2rem;
  }
}

.knowledge .knowledge-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 15px 0;
}

@media (min-width: 1024px) {
  .knowledge .knowledge-list {
    flex-direction: row;
  }
}

.knowledge .knowledge-list .knowledge-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: calc(100% - 10px);
  height: 60px;
  margin: 5px auto;
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 5px;
  padding: 5px;
  cursor: pointer;

  background: #fff;

  transition: all 350ms ease;
}

.knowledge .knowledge-list .knowledge-item:hover {
  background: transparent;
}

.knowledge .knowledge-list .knowledge-item span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #000;
  font-size: 1.3rem;
  margin-left: 10px;
}

.knowledge .knowledge-list .knowledge-item strong {
  color: #000;
}

.knowledge .knowledge-list .knowledge-item i {
  font-size: 3rem;
  color: #000;
  margin-right: 10px;
}

.knowledge .knowledge-list .knowledge-item:hover i {
  color: #fff;
}

.knowledge .knowledge-list .knowledge-item:hover span,
.knowledge .knowledge-list .knowledge-item:hover strong {
  color: #fff;
}

@media (min-width: 767px) {
  .knowledge .knowledge-list .knowledge-item {
    width: calc(100% / 3 - 25px);
    margin: 5px;
  }
}

.knowledge .knowledge-list .knowledge-item span {
  font-size: 1.1rem;
}
.knowledge .knowledge-list .knowledge-item span strong {
  font-size: 1.1rem;
}

.projects .description {
  font-size: 1rem;
}
.projects .projects-item .description {
  font-size: 1rem;
  color: #fff;
}

@media (min-width: 1250px) {
  .projects .description {
    font-size: 1.8rem;
  }
  .projects .projects-item .description {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .projects .description {
    font-size: 1rem;
  }
  .projects .projects-item .description {
    font-size: 1rem;
  }
}

.projects .projects-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px auto 10px;
}

.projects .projects-list .projects-item {
  width: calc(100% - 20px);
  min-height: 200px;
  border: 1px solid #fff;
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (min-width: 720px) {
  .projects .projects-list .projects-item {
    width: calc(100% / 2 - 20px);
  }
}

@media (min-width: 1024px) {
  .projects .projects-list .projects-item {
    width: calc(100% / 3 - 20px);
  }

  /* .projects .projects-list .projects-item button{
    min-width: 200px;
  } */
}

.projects .projects-list .projects-item .title {
  font-size: 1.3rem;
  color: #fff;
}

.projects .projects-list .projects-item .description {
  text-align: center;
}

.projects .projects-list .projects-item .links-group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  margin-top: 5px;
  color: #fff;
}

.projects .projects-list .projects-item .links-group i {
  font-size: 1.5rem;
}

.projects .projects-list .projects-item button {
  height: 40px;
  width: calc(100% / 2 - 5px);
  padding: 5px;
  margin: 0 4px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 350ms ease;
  /* color: rgb(0, 34, 255); */
}

.projects .projects-list .projects-item button a {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.7rem;
}

/* @media (min-width: 540px){
  .projects .projects-list .projects-item button{
    min-width: 170px;
  }
} */

.projects .projects-list .projects-item button:hover {
  background: #fff;
}

.projects .projects-list .projects-item button:hover a {
  color: #fff;
}

.projects .projects-list .projects-item button:hover i {
  color: #000;
}

@media (min-width: 1250px) {
  .skills .description {
    font-size: 1.8rem;
  }
}

@media (min-width: 1024px) {
  .skills .description {
    font-size: 1.2rem;
  }
}

.skills .description {
  font-size: 1.2rem;
}
/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */


.purpletText {
  color: aqua;
}


/* Footer bar styling */
.footer-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  background: #000;
}

.footer-bar .nome {
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.2rem;
  /* position: relative; */
}

/* Language toggle */
select#language-toggle {
  /* Adjust the width as needed */
  max-width: 140px;
}

#language-toggle {
  background-color: transparent; 
  color: white; 
  border: 1px solid black;
  padding: 5px;
  border-radius: 2px;
  font-size: 12px;
  cursor: pointer; 
}

#language-toggle option {
  background-color: white;
  color: black;
  font-size: 12px;
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) { /* Adjust the breakpoint as needed */
  select#language-toggle option {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  select#language-toggle option::before {
    content: attr(data-flag);
    font-size: 1.2rem; /* Adjust the font size as needed */
  }

  select#language-toggle option::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity as needed */
  }

  select#language-toggle option:hover::after {
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
  }
}

.links-heading {
  /* Center align the text */
  text-align: center;
  /* 20px margin on top and bottom */
  margin: 20px 0;
}

.links-container {
  display: flex;
  flex-direction: column;
  /* Center align the links */
  align-items: center;
  /* Space between links */
  gap: 10px;
}

.link-button {
  background-color: #f1f1f1; /* Light gray background similar to Google */
  color: #000; /* Black text */
  border: 1px solid #ddd; /* Light gray border */
  border-radius: 21px; /* Rounded corners */
  padding: 10px 20px; /* Padding for a better look */
  text-decoration: none; /* Remove underline from links */
  width: 100%; /* Full width for button effect */
  max-width: 300px; /* Set a max width for better appearance */
  text-align: center; /* Center align text within the button */
  transition: background-color 0.3s, border-color 0.3s; /* Smooth transitions */
}

.link-button:hover {
  background-color: #e1e1e1; /* Slightly darker gray on hover */
  border-color: #ccc; /* Darker border color on hover */
}


/* Timezone table styles */
.timezone-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 0 auto;
  width: 100%;
}

.timezone-table h4 {
  margin-bottom: 20px;
  text-align: center;
}

/* Styling for the table */
.timezone-table table {
  /* Make sure the table also takes full width */
  width: 100%;
  /* Maximum width for large screens (optional) */
  max-width: 1200px;
  border-collapse: collapse; /* Remove space between cells */
  /* Optional: light shadow for depth */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
  /* Round corners */
  /* border-radius: 10px;  */
  /* Prevent overflow of rounded corners */
  /* overflow: hidden; */
  margin: 0 auto;
}

.timezone-table th, .timezone-table td {
  /* Padding for table cells */
  /* Add padding for better spacing */
  padding: 15px;
  /* Align text to the left */
  text-align: left;
  /* Add borders for readability */
  border: 1px solid #ddd;
}

/* Header styling */
.timezone-table th {
  /* Light gray background for headers */
  background-color: #000;
  /* background-color: #343a40; */
  color: #fff;
  text-align: left;
}

.timezone-table tr:nth-child(even) {
  /* Alternate row colors for readability */
  background-color: #000;
}

/* Media query for screens wider than 1280px */
@media (min-width: 1280px) {
  .timezone-table table {
    /* Increase max-width on large screens */
    max-width: 1400px;
    /* Ensure the table is centered */
    margin-left: auto;
    /* Ensure the table is centered */
    margin-right: auto;
  }
}

.timezone-table {
  max-width: 100%; /* Ensures it doesn't overflow */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .timezone-table table {
    /* Make the table scrollable horizontally */
    display: block;
    overflow-x: auto;
    /* Prevent line wrapping inside cells */
    /* white-space: nowrap; */
  }

  .timezone-table th, .timezone-table td {
    padding: 10px; /* Reduce padding on smaller screens */
  }

  .timezone-table thead {
    display: none; /* Hide the table header on small screens */
  }

  .timezone-table tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    border: 1px solid #ddd;
  }

  .timezone-table td {
    text-align: right;
    position: relative;
    padding-left: 20%;
  }

  .timezone-table td:before {
    content: attr(data-label);
    position: absolute;
    left: 10px;
    font-weight: bold;
  }
}

#current-time {
  /* Font size for current time */
  font-size: 20px;
  /* Font size for current time */
  margin-bottom: 20px;
}